html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #F1EFE4;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 44px;
    background-color: #fff;
    padding: 20px 0;
}

.header .navbar a+a {
    font-size: 18px;
    line-height: 24px;
    margin-left: 40px;
}

.header__icons {
    display: flex;
}

.header__icons img {
    cursor: pointer;
}

#menu-btn {
    display: none;
}

#search-btn {
    margin-right: 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    border-radius: 56px;
    background: #C8DDED;
}

.header__description {
    max-width: 565px;
    padding-left: 40px;
    padding-top: 40px;
}

.header__title {
    font-size: 68px;
    font-weight: 700;
    line-height: 88px;
    margin-bottom: 32px;
}

.header__text {
    color: #000;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 48px;
}

.header__btn {
    padding: 19px 32px;
    border-radius: 12px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        position: absolute;
        left: 25px;
    }
    .header__top {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 16px;
        margin-bottom: 32px;
    }
    .navbar {
        display: none;
    }
    .header__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 16px;
    }
    .header__description {
        max-width: 295px;
        padding: 24px 18px 0;
    }
    .header__title {
        font-size: 44px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 24px;
    }
    .header__text {
        font-size: 18px;
        font-style: normal;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .header__img img {
        width: 343px;
        height: 289px;
    }
    .header__btn {
        display: flex;
        justify-content: center;
    }
    .swiper-pagination {
        display: none;
    }
}